config.stopBubbling = true

lombok.addLombokGeneratedAnnotation = true
lombok.log.fieldName = logger

# Some features I don't like and therefore want to prevent from being used accidentally.
lombok.anyConstructor.flagUsage = error
lombok.data.flagUsage = error
lombok.experimental.flagUsage = error
lombok.val.flagUsage = error
lombok.value.flagUsage = error
lombok.var.flagUsage = error
